<h2>About Shelter Gifts</h2>

<p>Shelter Gifts makes it easy to donate directly to homeless shelters across the country by aggregating a list of items they need.</p>

<p>How do we know what they need?  Where do the items come from?  The list of items come from the individual shelters!</p>

<p>Shelter Gifts is a collection of items needed by shelters across the country.  The list is curated by the shelters for the communities they serve.  The shelters create an Amazon Wishlist of items they need.</p>

<p>Next they can register for an account on Shelter Gifts save a link to their wishlist... then the wishlist items are automatically added to the Shelter Gifts collection!</p>

<p>Shelters can save as many wishlists as they like.  Maybe have a permanent wishlist of items they always need (things like socks, underwear, deodorant, diapers, etc...) and seasonal wishlists.</p>

<p>Feel free to take a look at the collection of items needed by various shelters <a href="/">here</a>.  If you feel generous, you can click on the item button and purchase from Amazon and have them shipped directly to the shelter in need!</p>

<p>Shelter Gifts does not receive any commission or any compensation from Amazon when items are purchased.  When you purchase an item, you are purchasing it directly from Amazon and, because the item(s) are on a shelter's wishlist, Amazon will ship it directly to them!</p>

<h3>Disclaimer</h3>
<p>Shelter Gifts is currently in <strong>demo mode</strong> and currently has one verified shelter, the <a href="https://www.mensshelterofcharlotte.org/" target="_blank">Men's Shelter of Charlotte</a>.  In demo mode, you can register (or login via Facebook), create a shelter and save an Amazon Wishlist and the items will be added to the collection and displayed on the homepage.  The open registration is meant to demonstrate the funcationality of the app; however, the app will reset to just the <a href="https://www.mensshelterofcharlotte.org/" target="_blank">Men's Shelter of Charlotte</a> and their <a href="https://www.amazon.com/gp/registry/wishlist/15R5EITCG0F6Q" target="_blank">wishlist</a>.</p>

<p>Once the app is launched, registration will be limited to verified non-profit shelters with valid Employee Identification Numbers.  However, if you know of any shelters that could benefit from having a list of items they need included on here, please have them <a href="mailto:anthony@anthonygharvey.com" target="_blank">contact me</a>.  I'd love to learn more about their needs and help them get setup before the app launches!</p>