<h2>About Shelter Gifts</h2>

<div class="about-text">
	<p>Shelter Gifts makes it easy to donate directly to homeless shelters across the country by aggregating a list of items they need.</p>

	<p>How do we know what they need?  Where do the items come from?  The list of items come from directly from the individual shelters!  The list is curated by the shelters for the communities they serve.  The shelters create an Amazon Wishlist of items they need.</p>

	<p>Next they can register for an account on Shelter Gifts save a link to their wishlist... then, the wishlist items are automatically added to the Shelter Gifts collection!</p>

	<p>Shelters can save as many wishlists as they like.  Maybe have a permanent wishlist of items they always need (things like socks, underwear, deodorant, diapers, etc...) and seasonal wishlists.</p>

	<p>Feel free to take a look at the collection of items needed by various shelters <a href="/">here</a>.  If you feel generous, you can click on the item button and purchase it from Amazon and have it shipped directly to the shelter in need!</p>

	<p>Shelter Gifts does not receive any commission or any compensation from Amazon when items are purchased.  When you purchase an item, you are purchasing it directly from Amazon and, because the item(s) are on a shelter's wishlist, Amazon will ship it directly to them!</p>
</div>

<h3>Disclaimer</h3>
<div class="about-text">
	<p>Shelter Gifts is in <strong>demo mode</strong> and currently has one verified shelter, the <a href="https://www.mensshelterofcharlotte.org/" target="_blank">Men's Shelter of Charlotte</a>.  In demo mode, you can register (or login via Facebook), create a shelter and save an Amazon Wishlist and the items will be added to the collection and displayed on the homepage.  The open registration is meant to demonstrate the funcationality of the app; however, the app resets every 5 minutes to just the <a href="https://www.mensshelterofcharlotte.org/" target="_blank">Men's Shelter of Charlotte</a> and their <a href="https://www.amazon.com/gp/registry/wishlist/15R5EITCG0F6Q" target="_blank">wishlist</a>.</p>

	<p>Once the app is launched, registration will be limited to verified non-profit shelters with valid Employee Identification Numbers.  However, if you know of any shelters that could benefit from having a list of items they need included on here, please have them <a href="mailto:anthony@anthonygharvey.com" target="_blank">contact me</a>.  I'd love to learn more about their needs and help them get setup before the app launches!</p>
</div>

<h3>About Me</h3>
<div class="about-text">
	<p>👋🏾, I'm <a href="https://anthonygharvey.com/" target="_blank">Anthony</a>, a fullstack web develper student at <a href="https://flatironschool.com/" target="_blank">Flatiron School</a>.  I created Shelter Gifts as my third project (a <a href="https://rubyonrails.org/" target="_blank">Ruby on Rails</a> app).  I came up with the idea for this app months and months ago, well before I reached the Ruby on Rails section of the bootcamp.  I started following DHH on Twitter a while back because I was looking forward to learning Ruby on Rails and he created it! Well, in February he retweeted something from from Ryan Singer that stuck with me:</p>

	<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If you observe solution space, markets are crowded and opportunities are scarce. If you observe problem space, markets are sparse with vast amounts of free space around each data point.</p>&mdash; Ryan Singer (@rjs) <a href="https://twitter.com/rjs/status/964621042458165249?ref_src=twsrc%5Etfw">February 16, 2018</a></blockquote>

	<p>That got me thinking: What are some problem spaces that I could address?  What areas could I help in and where?   That changed from what and where to who.  Who are the people in problem spaces?  <strike>Who are some people with problems?</strike> Everyone has problems.  Who are the people with some of the biggest problems?  People that are <strong>homeless</strong>.</p>

	<p>Now that I had an area to focus on, how could I help?  My thought process was, 'Well, what do they need?'.  I could guess that things like clothing, food are needed, but that was too broad.  I could ask some of them directly, but that seemed inefficient and wouldn't scale.  Besides, how would I get the items to them?  Ah ha!  I could have the item sent to homeless shelters!  Better yet, why not just ask different shelters what they need since they have direct knowledge of the communities they serve.  </p>

	<p>So I researched shelters online and noticed they had several ways to help, making a cash donation, volunteering and making in-kind donations.   A lot of the shelters had a static list of generic items they needed on their website, things like toothpaste, soap, socks, etc... and several had a link to an Amazon Wishlist they created with specific items needed, priority and quantity requested.</p>

	<p>That was the lightbulb moment for me!  I was specifically researching homeless shelters and digging around for what they needed.  Most people may not visit a shelter's website and discover their Amazon wishlist.  My thinking was I could aggregate wishlists from different shelters and make it easy for people to browse a collection of items and purchase from Amazon!  And because the shelters were the ones creating the wishlists, when a visitor purchased an item, Amazon would ship it directly to the shelter!</p>

	<p>That was the beginning of Shelter Gifts!  If you'd like to read more about how I built the app, feel free to checkout my <a href="https://anthonygharvey.com/projects/shelter_gifts" target="_blank">website</a> and Github <a href="https://github.com/anthonygharvey/shelter-gifts" target="_blank">repo</a>.</p>

	<p>If you have any questions, comments or suggestions, feel free to shoot me an <a href="mailto:anthony@anthonygharvey.com">email</a> or DM me on <a href="https://twitter.com/anthonyharvey" target="_blank">Twitter</a>.</p>
</div>


<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
