// var html = "<%= j render :collection => @all_items, :partial => 'item', as: :item %>"

// $("ul#items").html(html)

$(function() {
	$.get("/items.json", function(json) {
		$item_list = $("ul#items")
		$item_list.html("")
		json.forEach(function(item) {
			// for each item, append an LI to the $item_list OL
			html = '<li class="flex-item items">'
			html += '<div class="demo-card-square mdl-card mdl-shadow--2dp">'
			html += '<div class="mdl-card__title mdl-card--expand">'
			html += '<h2 class="mdl-card__title-text item-photo"><img src="' + item.photo + '" alt=""></h2></div>'
			html += '<div class="mdl-card__supporting-text">'
			html += item.name
			html += '<h4>$'+ item.price + '</h4>'
			html += '<ul class="flex-container item-stats">'
			html += '<li class="flex-item">Priority: ' + item.priority + '</li>'
			html += '<li class="flex-item">Need: ' + item.quantity + '</li>'
			html += '<li class="flex-item">Has: ' + item.has_amount + '</li></ul>'
			html += '<ul class="flex-container item-stats">'
			html += '<li class="flex-item">'
			if (item.list.shelter.website_url) {
				html += '<a target="_blank" href="' + item.list.shelter.website_url + '">' + item.list.shelter.name + '</a></li>'
			} else {
				html += item.list.shelter.name + '</li>'
			}
			html += '<li class="flex-item">' + item.list.shelter.city + ',' + item.list.shelter.state + '</li></ul></div>'
			html += '<a target="_blank" href="' + item.button_url + '" class ="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">' + item.button_text + '</a>'
			html += '</div></li>'

			$item_list.append(html)
		})
	})
})


$("form input#search").on("click", function(e) {

	$.ajax({
		url: this.form.action,
		dataType: 'script'
	})

	
	
	$.getJSON(this.form.action).success(function(json) {
		// debugger
		$item_list = $("ul#items")
		// clear the item list
		$item_list.html("")
		
		

		// Iterate over each item within the json response
		json.forEach(function(item) {
			// within each item data, append an LI to the $item_list OL
			html = '<li class="flex-item items">'
			html += '<div class="demo-card-square mdl-card mdl-shadow--2dp"></div>'
			html += '<div class="mdl-card__title mdl-card--expand">'
			html = '<h2 class="mdl-card__title-text item-photo"><img src="' + item.photo + '" alt=""></h2>'
			$item_list.append(html)
		})
	})
	e.preventDefault();
})